.all {
    position: relative;
  }
  .all-wrapper,
  .music-wrapper {
    border-radius: var(--br-xl);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
  }
  .all-wrapper {
    width: 56px;
    background-color: var(--color-white);
  }
  .music-wrapper {
    width: 94px;
    background-color: #bdb0b0;
    border: 1px solid var(--color-black);
  }
  .frame-parent {
    position: absolute;
    top: 44px;
    left: 250px;
    width: 179px;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
    color: var(--color-black);
  }
  .search-parent {
    position: relative;
    top: 48px;
    left: 563px;
    border-radius: 12px;
    background-color: rgba(83, 78, 110, 0.8);
    width: 456px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* Add this line */
    align-items: center;
    padding: 10px 5px;
    box-sizing: border-box;
    gap: 10px;
    opacity: 0.6;
    font-size: 20px;
    color: #7a797b;
  }
  .c {
    position: relative;
    z-index: 0;
  }
  .logo,
  .m {
    position: absolute;
  }
  .m {
    width: 33px;
    margin: 0 !important;
    top: 21px;
    left: 12px;
    font-size: 40px;
    font-family: var(--font-inspiration);
    display: inline-block;
    z-index: 1;
  }
  .logo {
    top: 48px;
    left: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-child {
    width: 31.9px;
    position: relative;
    height: 30.2px;
  }
  .vector-icon1,
  .vector-icon2 {
    width: 29px;
    position: relative;
    height: 24px;
  }
  .vector-icon2 {
    width: 26px;
    height: 30px;
  }
  .vector-icon3,
  .vector-icon4 {
    width: 28px;
    position: relative;
    height: 27px;
  }
  .vector-icon4 {
    width: 30.5px;
    height: 30.1px;
  }
  .group-parent {
    position: absolute;
    top: 175px;
    left: 5px;
    width: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 47px;
  }
  .frame-item {
    width: 43px;
    position: relative;
    border-radius: 50%;
    background-color: #d9d9d9;
    height: 43px;
  }
  .ellipse-parent {
    position: absolute;
    top: 1197px;
    left: 24px;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
    font-size: var(--font-size-5xs);
    color: var(--color-maroon);
    font-family: var(--font-inter);
  }
  .logo-parent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1b1730;
    width: 91px;
    height: 1306px;
    overflow: hidden;
    font-size: 50px;
    font-family: var(--font-ingrid-darling);
  }
  .vector-icon5,
  .vector-icon6 {
    width: 48px;
    position: relative;
    height: 47.8px;
  }
  .vector-icon6 {
    height: 39.8px;
  }
  .group-icon,
  .vector-icon7 {
    width: 40px;
    position: relative;
    height: 40px;
  }
  .vector-icon7 {
    height: 39.8px;
  }
  .vector-parent {
    position: absolute;
    top: 480px;
    left: 579px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 64px;
  }
  .recent-release {
    position: absolute;
    top: 555px;
    left: 129px;
    font-size: 26px;
  }
  .card-rectangle-icon,
  .taylor-swift {
    position: absolute;
    margin: 0 !important;
  }
  .taylor-swift {
    width: 200px;
    top: 18px;
    left: 82px;
    display: inline-block;
    z-index: 0;
  }
  .card-rectangle-icon {
    width: 1166px;
    top: 6px;
    left: 0;
    height: 46px;
    mix-blend-mode: lighten;
    z-index: 1;
  }
  .queue,
  .queue-child {
    width: 56px;
    height: 52px;
  }
  .queue-child {
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    object-fit: cover;
    z-index: 2;
  }
  .queue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .card-rectangle,
  .card-rectangle5 {
    width: 1166px;
    position: absolute;
    margin: 0 !important;
    top: 6px;
    left: 0;
    background: linear-gradient(
      132.76deg,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.06)
    );
    height: 46px;
    mix-blend-mode: lighten;
    z-index: 1;
  }
  .card-rectangle5 {
    width: 413px;
  }
  .queue-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 73.6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }
  .vector-icon8,
  .vector-icon9 {
    position: absolute;
    top: 26px;
    left: 1051px;
    width: 23.7px;
    height: 18px;
  }
  .vector-icon9 {
    height: 3.96%;
    width: 2.21%;
    top: 93.39%;
    right: 62.69%;
    bottom: 2.64%;
    left: 35.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .frame-group {
    position: absolute;
    top: 624px;
    left: 129px;
    width: 1074.7px;
    height: 454px;
    font-size: var(--font-size-lg);
  }
  .vector-icon10,
  .vector-icon11 {
    position: absolute;
    top: 708px;
    left: 1180px;
    width: 23.7px;
    height: 18px;
  }
  .vector-icon11 {
    top: 775px;
  }
  .desktop-5-child,
  .vector-icon12,
  .vector-icon13,
  .vector-icon14 {
    position: absolute;
    top: 842px;
    left: 1180px;
    width: 23.7px;
    height: 18px;
  }
    .frame-child,
    .vector-icon1,
    .vector-icon2,
    .vector-icon3,
    .vector-icon4 {
        filter: invert(1) brightness(100);
    }


  .desktop-5-child,
  .vector-icon13,
  .vector-icon14 {
    top: 909px;
  }

    .vector-icon5,
    .vector-icon6,
    .group-icon,
    .vector-icon7 {
        filter: invert(1) brightness(100);
    }
  .desktop-5-child,
  .vector-icon14 {
    top: 976px;
  }
  .desktop-5-child {
    top: 0;
    left: 106px;
    background: linear-gradient(180.21deg, #f911e2, #1e0934);
    width: 1334px;
    height: 555px;
    opacity: 0.2;
  }
  .desktop-5-item {
    position: absolute;
    top: 243px;
    left: 187px;
    width: 206px;
    height: 189px;
  }
  .favorites-wrapper,
  .liked-songs-wrapper {
    position: absolute;
    top: 252px;
    left: 419px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    font-size: 75px;
  }
  .liked-songs-wrapper {
    top: 353px;
    left: 429px;
    font-size: 30px;
  }
  .desktop-5 {
    width: 100%;
    position: relative;
    background-color: var(--color-black);
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
.vector-icon8, .vector-icon9, .vector-icon10, .vector-icon11, .vector-icon12, .vector-icon13, .vector-icon14 { filter: invert(1); }
.vector-icon {
  filter: invert(1);  /* Change the color to white */
}
