.image-48-icon {
    position: absolute;
    top: -3px;
    left: 0;
    width: 665px;
    height: 729px;
    object-fit: cover;
  }
  .username {
    width: 128px;
    border: 0;
    outline: 0;
    font-family: var(--font-inter);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 17px;
    position: relative;
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .textfield {
    position: absolute;
    top: 228px;
    left: 801px;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 418px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lgi) var(--padding-base);
    max-width: 100%;
  }
  .username1 {
    width: 85px;
    border: 0;
    outline: 0;
    font-family: var(--font-inter);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 17px;
    position: relative;
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .textfield1 {
    position: absolute;
    top: 313px;
    left: 801px;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 418px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lgi) var(--padding-base);
    max-width: 100%;
  }
  .username2 {

    width: 68px;
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-inter);
    color: var(--color-white);
    white-space: pre-wrap;
    text-align: left;
    display: none;
    height: 17px;
    flex-shrink: 0;
  }
  .textfield2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-orange);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base);
    white-space: nowrap;
  }
  .sign-in {
    position: absolute;
    top: 14px;
    left: 75px;
    font-size: var(--font-size-sm);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 45px;
    z-index: 1;
  }
  .textfield-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 458px;
    left: 905px;
    width: 203px;
    height: 45px;
  }
  .username3 {
    width: 257px;
    align-items: center;
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-inter);
    color: var(--color-white);
    white-space: pre-wrap;
    text-align: left;
    margin-left: 28%;
    /* display: none; */
  }
  .textfield3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-orange);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base);
    white-space: nowrap;
  }
  .sign-in-with {
    
    top: 13px;
    left: 38px;
    font-size: var(--font-size-sm);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 128px;
    z-index: 1;
  }
  .textfield-group {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 522px;
    left: 905px;
    width: 203px;
    height: 45px;
  }
  .do-not-have,
  .signup {
    font-family: var(--font-inter);
  }
  .noacc {
    position: absolute;
    top: 593px;
    left: 871px;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    text-align: left;
  }
  .celestial-music,
  .title {
    margin: 0;
  }
  .title {
    position: absolute;
    top: 164px;
    left: 781px;
    font-size: var(--font-size-21xl);
    line-height: 10px;
    font-weight: 700;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 398px;
  }
  .c,
  .footer,
  .m {
    position: relative;
  }
  .footer {
    width: 1440px;
    height: 298px;
    background-color: var(--color-purple);
    display: none;
    max-width: 100%;
  }
  .c,
  .m {
    margin: 0;
    font-size: var(--font-size-31xl);
    font-weight: 400;
    font-family: var(--font-ingrid-darling);
    color: var(--color-gray-300);
    text-align: left;
    display: inline-block;
    min-width: 32px;
  }
  .m {
    font-size: var(--font-size-21xl);
    font-family: var(--font-inspiration);
    min-width: 33px;
    z-index: 1;
  }
  .m-wrapper {
    flex-direction: column;
    padding: var(--padding-2xl) 0 0;
    margin-left: -20px;
  }
  .logo,
  .logo-wrapper,
  .m-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .logo {
    align-self: stretch;
    border: 1px solid var(--color-purple);
    flex-direction: row;
    padding: 0 7px var(--padding-10xs) 0;
    z-index: 1;
  }
  .logo-wrapper {
    width: 54px;
    flex-direction: column;
    padding: 13px 0 0;
    box-sizing: border-box;
  }
  .contact-us {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    border-radius: 20%;

  }
  .contact {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xl) var(--padding-xl);
    background-color: var(--color-white);
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
  }
  .about:hover,
  .contact:hover {
    background-color: var(--color-gainsboro-100);
  }
  .about-us {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    border-radius: 20%;
  }
  .about {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xl) var(--padding-xl);
    background-color: var(--color-white);
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
  }
  .contact-parent,
  .frame-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-2xl);
    min-width: 175px;
  }
  .frame-container {
    width: 393px;
    flex-direction: row;
    gap: 69px;
    max-width: 100%;
  }
  .allright{
    position: relative;
    font-size: var(--font-size-mini);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    z-index: 1;
  }
  .allright {
    align-self: stretch;
  }
  
  .about-us-button,
  .allright-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .allright-parent {
    align-self: stretch;
    justify-content: flex-start;
    gap: 2.8px;
  }
  .about-us-button {
    width: 240px;
    justify-content: flex-end;
    padding: 0 0 13.2px;
    box-sizing: border-box;
  }
  .frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .frame-child {
    width: 921px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    margin-top: -1px;
    max-width: 100%;
    z-index: 2;
  }
  .line-wrapper {
    width: 1183px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent {
    width: 1346px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-2xl);
    max-width: 100%;
  }
  .facebook-icon,
  .instagram-icon,
  .twitter-icon {
    border-radius: 20%;
    align-self: stretch;
    width: 53.3px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 40px;
    z-index: 2;
  }
  .facebook-instagram-twitter,
  .group,
  .tickbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .facebook-instagram-twitter {
    width: 281.3px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .group,
  .tickbox {
    width: 1067.3px;
    justify-content: center;
    max-width: 100%;
  }
  .tickbox{
    margin-left: 15%;
  }
  .group {
    position: absolute;
    top: 724px;
    left: 0;
    background-color: var(--color-purple);
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-xl) 39px 28px;
    box-sizing: border-box;
    gap: 34.9px;
    z-index: 1;
  }
  .tickbox1 {
    position: absolute;
    top: 408px;
    left: 801px;
    background-color: var(--color-gainsboro-200);
    width: 18px;
    height: 16px;
  }
  .forget-password,
  .remember-me {
    position: absolute;
    top: 407px;
    left: 831px;
    font-size: var(--font-size-sm);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 96px;
  }
  .forget-password {
    top: 410px;
    left: 1100px;
    min-width: 119px;
  }
  .celestialpage {
    margin: 0;
    width: 100%;
    height: 1024px;
    position: relative;
    background-color: var(--color-black);
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 750px) {
    .title {
      font-size: var(--font-size-13xl);
      line-height: 8px;
    }
    .c {
      font-size: var(--font-size-21xl);
    }
    .m {
      font-size: var(--font-size-13xl);
    }
    .frame-group {
      flex-wrap: wrap;
    }
    .group {
      gap: 17px;
    }
    .celestialpage {
      height: auto;
      min-height: 1024;
    }
  }
  @media screen and (max-width: 450px) {
    .title {
      font-size: var(--font-size-5xl);
      line-height: 6px;
    }
    .c {
      font-size: var(--font-size-11xl);
    }
    .m {
      font-size: var(--font-size-5xl);
    }
    .frame-container {
      flex-wrap: wrap;
      gap: 34px;
    }
  }
  