.c,
.m {
  position: absolute;
  top: 48px;
  left: 22px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-ingrid-darling);
  display: inline-block;
  min-width: 32px;
}
.m {
  top: 69px;
  left: 34px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inspiration);
  min-width: 33px;
}
.frame-child,
.vector-icon {
  position: absolute;
  top: 175px;
  left: 30.1px;
  width: 31.9px;
  height: 30.2px;
}
.vector-icon {
  top: 252.2px;
  left: 31.5px;
  width: 29px;
  height: 24px;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  top: 323.2px;
  left: 33px;
  width: 26px;
  height: 30px;
}
.vector-icon2 {
  top: 400.2px;
  left: 32px;
  width: 28px;
  height: 27px;
}
.frame-item,
.vector-icon3 {
  position: absolute;
  top: 474.2px;
  left: 30.7px;
  width: 30.5px;
  height: 30.1px;
}
.frame-item {
  top: 1197px;
  left: 24px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 43px;
  height: 43px;
}
.about-us,
.contact-us {
  position: absolute;
  top: 1247px;
  left: 24px;
  color: var(--color-maroon);
  display: inline-block;
  min-width: 36px;
}
.contact-us {
  top: 1264px;
  min-width: 43px;
}
.c-parent {
  height: 1306px;
  width: 91px;
  position: relative;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.c1,
.m1 {
  font-weight: 400;
  display: inline-block;
}
.c1 {
  margin: 0 !important;
  position: absolute;
  top: -21px;
  left: -12px;
  font-size: inherit;
  font-family: inherit;
  min-width: 32px;
}
.m1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inspiration);
  min-width: 33px;
  z-index: 1;
}
.c-group,
.sidebar-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.c-group {
  position: relative;
}
.sidebar-inner {
  padding: 0 0 var(--padding-5xs) 10px;
  
}
.frame-inner {
  height: 30.2px;
  width: 31.9px;
  position: relative;
  filter: invert(1);
}
.sidebar-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 6.1px;
}
.first-circle-icon {
  height: 24px;
  width: 29px;
  position: relative;
  filter: invert(1);
}
.first-circle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 7.5px;
}
.vector-icon4 {
  height: 30px;
  width: 26px;
  position: relative;
  filter: invert(1);
}
.vector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2.2px 0 2px;
}
.rap-image-a {
  height: 27px;
  width: 28px;
  position: relative;
  filter: invert(1);
}
.rap-image-a-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1.2px 0 var(--padding-12xs);
}
.mix-image-a {
  width: 30.5px;
  height: 30.1px;
  position: relative;
  filter: invert(1);
}
.frame-parent,
.second-circle {
  display: flex;
  justify-content: flex-start;
}
.frame-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-28xl);
}
.second-circle {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-7xs) 645.7px 6.7px;
}
.ellipse-div {
  width: 43px;
  height: 43px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.about-us1,
.contact-us1 {
  position: relative;
  display: inline-block;
  min-width: 36px;
  filter: invert(1);
}
.contact-us1 {
  min-width: 43px;
}
.ellipse-parent,
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent {
  gap: 7px;
  font-size: var(--font-size-5xs);
  color: var(--color-maroon);
  font-family: var(--font-inter);
}
.sidebar {
  background-color: var(--color-gray-200);
  overflow: hidden;
  padding: 69px var(--padding-5xl) 32px;
  gap: var(--gap-28xl);
  z-index: 2;
  font-size: var(--font-size-31xl);
  font-family: var(--font-ingrid-darling);
}
.search {
  width: 700px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: 22px;
  background-color: transparent;
  height: 27px;
  position: relative;
  color: #7a797b;
  text-align: left;
  display: inline-block;
  padding: 0;
}
.vector-icon5 {
  width: 25px;
  height: 20px;
  position: relative;
  filter: invert(1);
}
.vector-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.rap-image-b,
.searchbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.searchbar {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: rgba(32, 27, 57, 0.8);
  justify-content: space-between;
  padding: var(--padding-9xs) 17px 0 var(--padding-base);
  opacity: 0.6;
  gap: var(--gap-xl);
}
.rap-image-b {
  width: 545px;
  justify-content: flex-start;
  padding: 0 0 26px var(--padding-xl);
  top: 0;
  z-index: 99;
  position: sticky;
}
.genre {
  position: relative;
  display: inline-block;
  min-width: 69px;
}
.genre-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.image-29-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon,
.imagea,
.rap {
  position: absolute;
}
.rap {
  top: 199px;
  left: 88px;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.imagea {
  height: 243px;
  width: 254px;
  margin: 0 !important;
  top: 0;
  left: 0;
}
.image-29-icon1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon1,
.imagea1,
.rap1 {
  position: absolute;
}
.rap1 {
  top: 199px;
  left: 88px;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.imagea1 {
  height: 243px;
  width: 254px;
  margin: 0 !important;
  top: 0;
  left: 281px;
}
.image-29-icon2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon2,
.imagea2,
.rap2 {
  position: absolute;
}
.rap2 {
  top: 199px;
  left: 88px;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.imagea2 {
  height: 243px;
  width: 254px;
  margin: 0 !important;
  top: 0;
  left: 562px;
}
.image-29-icon3 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon3,
.imagea3,
.rap3 {
  position: absolute;
}
.rap3 {
  top: 199px;
  left: 88px;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.imagea3 {
  height: 243px;
  width: 254px;
  margin: 0 !important;
  top: 267px;
  left: 0;
}
.image-29-icon4 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon4,
.imagea4,
.rap4 {
  position: absolute;
}
.rap4 {
  top: 199px;
  left: 88px;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.imagea4 {
  height: 243px;
  width: 254px;
  margin: 0 !important;
  top: 267px;
  left: 281px;
}
.image-29-icon5 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon5,
.imagea5,
.rap5 {
  position: absolute;
}
.rap5 {
  top: 199px;
  left: 88px;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.imagea5 {
  height: 243px;
  width: 254px;
  margin: 0 !important;
  top: 267px;
  left: 562px;
}
.frame-group,
.generebox,
.genre-box-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.generebox {
  align-self: stretch;
  height: 510px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 24px 25px;
  font-size: var(--font-size-7xl);
}
.frame-group,
.genre-box-inner {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-group {
  width: 836px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: 27px;
}
.genre-box-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.celestial-mix {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-29-icon6 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon6,
.imagea6,
.mix1 {
  position: absolute;
}
.mix1 {
  top: 171px;
  left: 90px;
  display: inline-block;
  min-width: 59px;
  z-index: 1;
}
.imagea6 {
  height: 224px;
  width: 234px;
  margin: 0 !important;
  top: 0;
  left: 0;
}
.image-29-icon7 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon7,
.imagea7,
.mix11 {
  position: absolute;
}
.mix11 {
  top: 171px;
  left: 90px;
  display: inline-block;
  min-width: 59px;
  z-index: 1;
}
.imagea7 {
  height: 224px;
  width: 234px;
  margin: 0 !important;
  top: 0;
  left: 276px;
}
.image-29-icon8 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon8,
.imagea8,
.mix12 {
  position: absolute;
}
.mix12 {
  top: 171px;
  left: 90px;
  display: inline-block;
  min-width: 59px;
  z-index: 1;
}
.imagea8 {
  height: 224px;
  width: 234px;
  margin: 0 !important;
  top: 0;
  left: 552px;
}
.image-29-icon9 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-29-icon9,
.imagea9,
.mix13 {
  position: absolute;
}
.mix13 {
  top: 171px;
  left: 90px;
  display: inline-block;
  min-width: 59px;
  z-index: 1;
}
.imagea9 {
  height: 224px;
  width: 234px;
  margin: 0 !important;
  top: 245px;
  left: 0;
}
.image-29-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mix14 {
  position: absolute;
  top: 171px;
  left: 90px;
  display: inline-block;
  min-width: 59px;
  z-index: 1;
}
.imagea10 {
  height: 224px;
  width: 234px;
  position: absolute;
  margin: 0 !important;
  top: 245px;
  left: 276px;
}
.image-29-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mix15 {
  position: absolute;
  top: 171px;
  left: 90px;
  display: inline-block;
  min-width: 59px;
  z-index: 1;
}
.imagea11 {
  height: 224px;
  width: 234px;
  position: absolute;
  margin: 0 !important;
  top: 245px;
  left: 552px;
}
.celestialmixbox,
.celestialmixbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.celestialmixbox {
  height: 469px;
  flex: 1;
  flex-wrap: wrap;
  position: relative;
  gap: 21px 42px;
}
.celestialmixbox-wrapper {
  align-self: stretch;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.celestial-mix-parent {
  width: 841px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 28px;
}
.celestial-mix-parent,
.genre-box,
.genre-box-child {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.genre-box-child {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-7xl);
}
.genre-box {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 44px;
}
.now-playing {
  position: relative;
}
.now-playing-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 25px;
}
.now-playing-label {
  width: 352px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.amazing-grace {
  position: relative;
  display: inline-block;
  min-width: 200px;
}
.group-icon {
  height: 25px;
  width: 25px;
  position: relative;
  min-height: 25px;
  filter: invert(1);
}
.display-card,
.now-playing-label-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.now-playing-label-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.displaycard-inner {
  width: 400px;
  height: 439.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 7.4px;
  box-sizing: border-box;
}
.queue-label-child {
  width: 40px;
  position: relative;
  max-height: 100%;
  max-width: 13%;
  flex-shrink: 0;
  filter: invert(1);
}
/* img[src*="pause-svgrepo-com(1).svg"] {
  width: 15px !important;
  height: 15px !important;
} */
.queue-label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-5xs);
}
.queue {
  position: relative;
  display: inline-block;
  min-width: 56px;
}
.queue-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 12.4px;
}
.taylor-swift {
  position: absolute;
  margin: 0 !important;
  top: 18px;
  left: 82px;
  display: inline-block;
  min-width: 200px;
  z-index: 0;
}
.card-rectangle-icon,
.queue-child {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.card-rectangle-icon {
  width: 453px;
  height: 46px;
  top: 6px;
  mix-blend-mode: lighten;
  z-index: 1;
}
.queue-child {
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 2;
}
.queue1 {
  height: 52px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.vector-icon6 {
  width: 18px;
  height: 18px;
  position: relative;
  filter: invert(1);
}
.vector-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.queue-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.taylor-swift1 {
  position: relative;
  margin: 0 !important;
  top: 18px;
  left: 82px;
  display: inline-block;
  min-width: 200px;
  z-index: 0;
}
.card-rectangle,
.queue-item {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.card-rectangle {
  width: 453px;
  height: 46px;
  top: 6px;
  background: linear-gradient(
    132.76deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.06)
  );
  mix-blend-mode: lighten;
  z-index: 1;
}
.queue-item {
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 2;
}
.queue2 {
  height: 52px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.vector-icon7 {
  width: 18px;
  height: 18px;
  position: relative;
  filter: invert(1);
}
.vector-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
}
.queue-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.taylor-swift2 {
  position: relative;
  margin: 0 !important;
  top: 18px;
  left: 82px;
  display: inline-block;
  min-width: 200px;
  z-index: 0;
}
.card-rectangle1,
.queue-inner {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.card-rectangle1 {
  width: 453px;
  height: 46px;
  top: 6px;
  background: linear-gradient(
    132.76deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.06)
  );
  mix-blend-mode: lighten;
  z-index: 1;
}
.queue-inner {
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 2;
}
.queue3 {
  height: 52px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.vector-icon8 {
  width: 18px;
  height: 18px;
  position: relative;
  filter: invert(1);
}
.vector-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
}
.queue-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.taylor-swift3 {
  position: relative;
  margin: 0 !important;
  top: 18px;
  left: 82px;
  display: inline-block;
  min-width: 200px;
  z-index: 0;
}
.card-rectangle2,
.rectangle-icon {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.card-rectangle2 {
  width: 453px;
  height: 46px;
  top: 6px;
  background: linear-gradient(
    132.76deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.06)
  );
  mix-blend-mode: lighten;
  z-index: 1;
}
.rectangle-icon {
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 2;
}
.queue4 {
  height: 52px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.vector-icon9 {
  width: 18px;
  height: 18px;
  position: relative;
  filter: invert(1);
}
.queue-parent1,
.vector-wrapper3 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
}
.queue-parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.taylor-swift4 {
  position: relative;
  margin: 0 !important;
  top: 18px;
  left: 82px;
  display: inline-block;
  min-width: 1000px;
  z-index: 0;
}
.card-rectangle3,
.queue-child1 {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.card-rectangle3 {
  width: 453px;
  height: 46px;
  top: 6px;
  background: linear-gradient(
    132.76deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.06)
  );
  mix-blend-mode: lighten;
  z-index: 1;
}
.queue-child1 {
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 2;
}
.queue5 {
  height: 52px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.vector-icon10 {
  width: 18px;
  height: 18px;
  position: relative;
  filter: invert(1);
}
.queue-parent2,
.vector-wrapper4 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.queue-parent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.taylor-swift5 {
  position: relative;
  margin: 0 !important;
  top: 18px;
  left: 82px;
  display: inline-block;
  min-width: 200px;
  z-index: 0;
}
.card-rectangle4,
.queue-child2 {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.card-rectangle4 {
  width: 453px;
  height: 46px;
  top: 6px;
  background: linear-gradient(
    132.76deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.06)
  );
  mix-blend-mode: lighten;
  z-index: 1;
}
.queue-child2 {
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 2;
}
.queue6 {
  height: 52px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.vector-icon11 {
  width: 18px;
  height: 18px;
  position: relative;
  filter: invert(1);
}
.vector-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
}
.queue-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.taylor-swift6 {
  position: relative;
  margin: 0 !important;
  top: 18px;
  left: 82px;
  display: inline-block;
  min-width: 200px;
  z-index: 0;
}
.card-rectangle5,
.queue-child3 {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.card-rectangle5 {
  width: 453px;
  height: 46px;
  top: 6px;
  background: linear-gradient(
    132.76deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.06)
  );
  mix-blend-mode: lighten;
  z-index: 1;
}
.queue-child3 {
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 2;
}
.queue7 {
  height: 52px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.vector-icon12 {
  width: 18px;
  height: 18px;
  position: relative;
  filter: invert(1);
}
.vector-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.queue-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.displaycard,
.displaycard-child,
.frame-container,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  gap: 15px;
}
.displaycard,
.displaycard-child,
.frame-container {
  align-self: stretch;
}
.displaycard-child {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-12xs);
  color: var(--color-white);
}
.displaycard,
.frame-container {
  flex-direction: column;
}
.displaycard {
  border-radius: var(--br-xl);
  background: rgb(51, 3, 51);
;
  overflow: hidden;
  padding: var(--padding-26xl) var(--padding-2xl) var(--padding-5xl);
  gap: 21.6px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.frame-container {
  gap: 40px;
}
.celestial-mix-box,
.search-bar {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.celestial-mix-box {
  height: 1130px;
  width: 551px;
  flex-direction: column;
  align-items: flex-start;
  min-width: 481px;
}
.search-bar {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.genere,
.search-bar-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.search-bar-wrapper {
  width: 1252px;
  flex-direction: column;
  padding: 31px 0 0;
  max-width: calc(100% - 124px);
}

.search-results {
  display: none;
  position: absolute;
  top: 80px;
  left: 450px;
  background-color: rgba(101, 49, 129, 0.8);
  width: 500px;
  height: auto; /* Adjusts height based on content */
  max-height: 473px; /* Maximum height */
  overflow-y:hidden; /* Makes div scrollable when there are too many songs */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 40px;
  box-sizing: border-box;
  z-index: 1; /* Brings the div to the front */
}

.genere {
  width: 100%;
  height: 1304px;
  position: relative;
  background-color: #000;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 30px;
  gap: 33px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}

@media screen and (max-width: 450px) {
  .frame-section {
    flex-wrap: wrap;
  }
  .desktop-11 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}



@media screen and (max-width: 1050px) {
  .displaycard,
  .sidebar {
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .displaycard {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-xl);
  }
  .celestial-mix-box {
    flex: 1;
  }
  .search-bar {
    flex-wrap: wrap;
  }
  .genere {
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .c {
    font-size: var(--font-size-21xl);
  }
  .m {
    font-size: var(--font-size-13xl);
  }
  .c1 {
    font-size: var(--font-size-21xl);
  }
  .m1 {
    font-size: var(--font-size-13xl);
  }
  .second-circle {
    padding-bottom: 420px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .sidebar {
    display: none;
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .genre-box {
    min-width: 100%;
  }
  .displaycard {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .search-bar-wrapper {
    max-width: 100%;
  }
  .genere {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .c {
    font-size: var(--font-size-11xl);
  }
  .m {
    font-size: var(--font-size-5xl);
  }
  .c1 {
    font-size: var(--font-size-11xl);
  }
  .m1 {
    font-size: var(--font-size-5xl);
  }
  .second-circle {
    padding-bottom: 273px;
    box-sizing: border-box;
  }
  .genre {
    font-size: var(--font-size-lgi);
  }
  .celestial-mix, .mix1, .mix11, .mix12, .mix13, .mix14, .mix15, .rap, .rap1, .rap2, .rap3, .rap4, .rap5 { font-size: var(--font-size-2xl); }
  .genre-box {
    gap: 22px;
  }
  .now-playing {
    font-size: var(--font-size-lgi);
  }
  .frame-container {
    gap: var(--gap-xl);
  }
  .celestial-mix-box {
    min-width: 100%;
  }
}
/* .vector-icon6, .vector-icon7, .vector-icon8, .vector-icon9, .vector-icon10, .vector-icon11, .vector-icon12 {
  width: 18px;
  height: 18px;
}

@media (min-width: 600px) {
  .vector-icon6, .vector-icon7, .vector-icon8, .vector-icon9, .vector-icon10, .vector-icon11, .vector-icon12 {
      width: 75px;
      height: 75px;
  }
}

@media (min-width: 1024px) {
  .vector-icon6, .vector-icon7, .vector-icon8, .vector-icon9, .vector-icon10, .vector-icon11, .vector-icon12 {
      width: 100px;
      height: 100px;
  }
}*/

img[src="pause-circle-svgrepo-com(1).svg"] {
  width: 18px !important;
  height: 18px !important;
  filter: invert(1);
}
img[src="circle-play-svgrepo-com.svg"] {
  width: 18px !important;
  height: 18px !important;
  filter: invert(1);
}
img[src="pause-svgrepo-com(1).svg"] {
  width: 40px !important;
  height: 40px !important;
} 