body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp10909716.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;}
   
    /* animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    } */


.signup-container {
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 0 10px rgba(216, 187, 187, 0.941);
    border-radius: 8px;
    width: 300px;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #382070;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #562193;
}

#message {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.hidden {
    display: none;
}

small {
    color:red;
    display: block;
    margin-top: 5px;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: white;
}

.remember-forget label {
    margin-right: 10px;
}

.register-link {
    margin-top: 15px;
    text-align: center;
    color: white;
}

.register-link a {
    color: white;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
.hidden{
    color:red;
}
